<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div class="container">
    <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="container">
    <div class="row justify-content-center">
        <h1 th:text="${title}">Default Title</h1>

    </div>
</div>



<div class="container">
    <div class="row justify-content-left mx-auto mb-3">
        <a href="/ingredient/add" class="btn btn-primary btn-sm" role="button">Add New Ingredient</a>
    </div>


    <div class="row justify-content-center">

        <div class="col-sm-4">
            <h3 th:unless="${ingredients} and ${ingredients.size()}" style="color:red;">Currently no available ingredients</h3>


            <ul th:each="ingredient : ${ingredients}">
                <a th:text="${ingredient.name}" th:href="@{'/ingredient/view/' + ${ingredient.id}}"></a>
<!--                <div th:if="${ingredient.user.id} != null">
                    <div th:if="${ingredient.user.id} == ${user.id}">
                        <a th:text="${ingredient.name}" th:href="@{'/ingredient/view/' + ${ingredient.id}}"></a>
                    </div>
                </div>-->


            </ul>
        </div>

        <!--        <div class="col-sm-2">

                </div>-->

        <!--        <div class="col-sm-4">
                    <a href="/ingredient/add" class="btn btn-primary btn-sm" role="button">Add New Ingredient</a>
                </div>-->

    </div>



</div>





</body>
</html>