<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center">
        <h1 th:text="${ingredient.name}">Title</h1>
    </div>

    <div class="row justify-content-center">
        <a th:href="@{'/ingredient/delete/' + ${ingredient.id}}" class="button">Delete Ingredient</a>
    </div>
    <div class="row justify-content-center">
        <a th:href="@{'/ingredient/edit/' + ${ingredient.id}}" class="button">Edit Ingredient</a>
    </div>
</div>

<div class="row justify-content-center">
    <table class="table-bordered">

        <tr>
            <th>Nutritional Value</th>
            <th>Amount per Serving</th>
        </tr>

        <tr>
            <td>Calories</td>
            <td th:text="${#numbers.formatDecimal(ingredient.calories, 0, 2)}"></td>
        </tr>

        <tr>
            <td>Saturated Fat</td>
            <td th:text="${#numbers.formatDecimal(ingredient.saturatedFat, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Polyunsaturated Fat</td>
            <td th:text="${#numbers.formatDecimal(ingredient.polyUnsaturatedFat, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Monounsaturated Fat</td>
            <td th:text="${#numbers.formatDecimal(ingredient.monoUnsaturatedFat, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Trans Fat</td>
            <td th:text="${#numbers.formatDecimal(ingredient.transFat, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Total Fat</td>
            <td th:text="${#numbers.formatDecimal(ingredient.totalFat, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Cholesterol</td>
            <td th:text="${#numbers.formatDecimal(ingredient.cholesterol, 0, 2)} + 'mg'"></td>
        </tr>

        <tr>
            <td>Sodium</td>
            <td th:text="${#numbers.formatDecimal(ingredient.sodium, 0, 2)} + 'mg'"></td>
        </tr>

        <tr>
            <td>Potassium</td>
            <td th:text="${#numbers.formatDecimal(ingredient.potassium, 0, 2)}+ 'mg'"></td>
        </tr>

        <tr>
            <td>Total Carbohydrate</td>
            <td th:text="${#numbers.formatDecimal(ingredient.totalCarbohydrate, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Dietary Fiber</td>
            <td th:text="${#numbers.formatDecimal(ingredient.dietaryFiber, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Sugar</td>
            <td th:text="${#numbers.formatDecimal(ingredient.sugar, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Net Carbohydrate</td>
            <td th:text="${#numbers.formatDecimal(ingredient.netCarbohydrate, 0, 2)} + 'g'"></td>
        </tr>

        <tr>
            <td>Protein</td>
            <td th:text="${#numbers.formatDecimal(ingredient.protein, 0, 2)} + 'g'"></td>
        </tr>

    </table>


</div>

<div class="row justify-content-center">

</div>





</body>
</html>